<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxw5N7cMUxW9S2kB0mAXP-3OsXt2Ml3VA</string>
	<key>GCM_SENDER_ID</key>
	<string>1076762516853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackTheFutureStarter</string>
	<key>PROJECT_ID</key>
	<string>agentic-ocean-explorer</string>
	<key>STORAGE_BUCKET</key>
	<string>agentic-ocean-explorer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076762516853:ios:7731c9694e4f5bc42dc73c</string>
</dict>
</plist>